[Unit]
Description=Let Fluidsynth process live events from a USB MIDI device
After=sound.target
# After=pipewire.service

# ConditionPathExistsGlob=/dev/snd/control*

# ConditionPathExists=/dev/snd/controlC0
# ConditionPathExists=/dev/snd/controlC1
# ConditionPathExists=/dev/snd/midiC1D0
# ConditionPathExists=/dev/snd/pcmC0D0p

After=alsa-restore.service

[Service]
Type=exec

# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/var/run/rpiano.pid

Environment=PATH=%h/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=%h/projects/rpiano/run.sh
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always

TimeoutSec=0
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60s
LimitMEMLOCK=infinity
LimitRTPRIO=90

EnvironmentFile=-%h/projects/rpiano/.env


[Install]
#WantedBy=default.target
# WantedBy=multi-user.target
WantedBy=sound.target
