[Unit]
Description=Let Fluidsynth process live events from a USB MIDI device

[Service]
Environment=PATH=/home/raphael/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=forking
ExecStart=/home/raphael/projects/rpiano/run.sh
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always

TimeoutSec=0
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60s
LimitMEMLOCK=infinity
LimitRTPRIO=90
TasksMax=infinity
Delegate=yes
Type=notify
NotifyAccess=all
KillMode=mixed

[Install]
WantedBy=default.target
